p {
    text-decoration: underline;
    color: deepskyblue;
    width: 100px;
}

.container {
    background-color: grey;
    width: 350px;
    height: 260px;
}

.input {
    display: flex;
    font-style: italic;
    height: 20px;
}

select {
    font-style: italic;
    width: 100px;
    height: 25px;
}

.div {
    display: flex;
    gap: 15px;
    margin: 20px;
}

.label {
    color: white;
}