.container {
    background-image: url("../assets/images/aesthetic.jpg");
    background-size: cover;
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.a {
    color: maroon;
    width: 200px;
    height: 100px;
}

