p {


}

h2 {
    color: white;
}

h1 {
    color: white;
}


.table {
    background-image: url("./aesthetic.jpg");
    background-size: cover;
    width: 100%;
}


.td1 {
    background-image: url("./photo.jpg");
    background-size: cover;
    width: 400px;
    height: 220px;
}

.td2 {
    background-image: url("./photo1.jpg");
    background-size: cover;
    width: 600px;
    height: 260px;
}

.palm {
    background-image: url("./Palm.png");
    background-size: 70px;
    background-repeat: no-repeat;

}

.td3 {
    background-image: url("./photo2.jpg");
    background-size: cover;
    width: 400px;
    height: 220px;
}

.sun2 {
    background-image: url("./sun2.png");
    background-size: 80px;
    width: 50px;
    height: 100px;
    background-repeat: repeat-x;
}

#sticker {
    background-image: url("./sticker.png");
    background-size: 70px;
    width: 50%;
    background-repeat: no-repeat;
    text-align: right;


}

#sticker2 {
    background-image: url("./sticker2.png");
    background-size: 70px;
    background-repeat: no-repeat;

}

.lorem {
    color: white;
    vertical-align: top;
    text-align: right;
}

.lorem1 {
    color: white;
    vertical-align: top;
    text-align: left;
}